:host{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60vw;
  // height: 80vh ;

}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-container{
  height: 100% ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input {

  margin: 3px;
  width: 100%;

}
//
.content{
  margin: 3px;
  width: 100%;
  height: 100%;
  align-self: stretch;
}

.content-input{
  width: 100%;
  height: 100%;
}

.content-input-textarea{
  //height: 100%;
  min-height: 100%;
  height: 320px;
}



.button-container{
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
}

.buttons{

  margin: 3px;
}


.heading{
  margin: 3px;
  font-size: 29px;
  align-self: start;
}

@media (min-width : 1450px)
{
  .content-input-textarea{
    height: 410px;
  }
}

@media (max-width : 500px)
{
  .heading{
    font-size: 20px;
  }
}

@media (max-height : 700px)
{
  .content-input-textarea{
    height: 188px;
  }
}



// @media (max-width : 500px)
// {
//   .heading{
//     font-size: 20px;
//   }
// }