
<mat-card class="login-card">
  <form (ngSubmit)="login(loginForm.value)" #loginForm="ngForm" name="loginForm">
    <div class="cred-input">
      <mat-form-field   appearance="outline" hideRequiredMarker>
        <mat-label>E-mail</mat-label>
        <input ngModel name="email" matInput type="email" required placeholder="enter email">
        <!--          <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </div>

    <!--  <div class="cred-input">-->
    <!--        <mat-form-field   appearance="outline" hideRequiredMarker>-->
    <!--          <mat-label>Username</mat-label>-->
    <!--          <input ngModel name="username" matInput required placeholder="enter username">-->
    <!--&lt;!&ndash;          <mat-hint>Hint</mat-hint>&ndash;&gt;-->
    <!--        </mat-form-field>-->
    <!--  </div>-->

    <div class="cred-input" >
      <mat-form-field   appearance="outline" hideRequiredMarker>
        <mat-label>Password</mat-label>
        <input ngModel name="password" required type="password" matInput placeholder="enter password">
        <!--          <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </div>
    <div class="cred-input" >
      <button  mat-raised-button color="primary" type="submit"  >
        login
      </button>
    </div>
  </form>
  <a></a>
</mat-card>
