
.login-card
{
  //position: absolute;
  margin: auto;
  //margin-top: 10%;
  height: 30vw;
  width: 30vw;
}

.cred-input
{
  //position: relative;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  //css layout center the divs

}
