.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  //background-color: #fafafa;
  color: white;
  font-weight: 600;
  width: 99.5vw;
}


.spacer {
  flex: 1;
}

.entities{
  margin-right: 6px;
  margin-left: 5px;
}

.title{

    margin-right: 5px;
    margin-left: 25px;

}


