.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;;
  //background-color: #fafafa;
  font-weight: 600;
  width: 99.5vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  background-color: #ffff;
}


.spacer {
  flex: 1;
}

.entities{
  margin-right: 6px;
  margin-left: 5px;
}

.title{

    margin-right: 5px;
    margin-left: 25px;

}


