<mat-card class="question-container" *ngIf="question" >


  <div class="vote-container">
<!--    <button class="upvote-button"><img src="https://i.ibb.co/gjHt2S8/upvote.png" height="10px" width="auto"></button>-->
<!--    <button class="upvote-button"></button>-->

    <!-- <img src="https://i.ibb.co/gjHt2S8/upvote.png" height="25px" width="auto" (click)="upvote(question)"> -->
    <!-- <img src="assets/question/upvote_black.svg" height="25px" width="auto" (click)="upvote(question)"> -->
    <img src="assets/vote/upvote_orange.svg" height="25px" width="auto" (click)="upvote(question)">

<!--    <mat-card-subtitle>{{question.votes}}</mat-card-subtitle>-->
    <p class="votes">{{question.votes}}</p>
<!--    <button class="downvote-button"><img src="https://i.ibb.co/1sk6SmW/downvote.png" height="10px" width="auto"></button>-->
<!--    <button class="downvote-button"></button>-->

    <!-- <img src="https://i.ibb.co/1sk6SmW/downvote.png" height="25px" width="auto" (click)="downvote(question)"> -->
    <!-- <img src="assets/question/downvote_black.svg" height="25px" width="auto" (click)="downvote(question)"> -->
    <img src="assets/vote/downvote_purple.svg" height="25px" width="auto" (click)="downvote(question)">

  </div>




  <div class="question-content-container" (click)="showQuestion(question)">
  <mat-card-title>{{question.title}}</mat-card-title>
  <mat-card-content>{{limitContent(question.content)}}</mat-card-content>
    <div class="question-footer">
      <span class="tags" *ngFor="let tag of question.tags" >
        {{tag}}
      </span>

      <user [uid]="question.createdBy">
      </user>
    </div>



  </div>
</mat-card>

