<form class="search-form col col-12 justify-content-center">
  <input type="text"
         placeholder="Search"
         [formControl]="formControl"
         (keydown.backspace)="onBackSpace()"
         [(ngModel)]="searchStr"
         >
    <mat-icon class="icon-search" >search</mat-icon>
</form>
<mat-button-toggle-group class="sort-container" #group="matButtonToggleGroup">
  <mat-button-toggle value="left" aria-label="Text align left"  (click)="getQuestionsByUpvotes()">
    <mat-icon class="icon-sort">arrow_upward</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center" aria-label="Text align center" (click)="getQuestionsByTime()">
    <mat-icon class="icon-sort" >schedule</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
