:host{
  background-color: #efefef57;
  width: 100%;
}
.home-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-sort-container{
  display: flex;
  flex-direction: row;
  //justify-content: space-around;
  margin-top: 20px;
  justify-content   : center;
  width: 100%;
}



.search-bar{
  //align-self: center;
  display: inline-flex;
  width: 60%;
}

.sort-container{

  width: fit-content;
  height: 40px;
  align-self: flex-end;
  //align-self: flex-end;
  //margin-left: -160px;
  }


mat-icon{
  font-size: 18px;
}

.questions-loading-spinner{
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px){
  .questions-loading-spinner{
    width: 80%;
    height: 100vh;
  }
}
